/* general */
body {
    background-color: #2f3136;
}
.div-content {
    padding: 5% 10%;
}
.div-fifty-left {
    position: relative;
    width: 49%;
    float: left;
}
.div-fifty-right {
    position: relative;
    width: 49%;
    float: right;
}

/* table */
table {
    margin-top: 2%;
}
.row-ten {
    width: 10%;
}
.row-twenty {
    width: 20%;
}
.row-thirty {
    width: 30%;
}

/* week picker */
#weekpicker {
    display: flex;
    justify-content: center;
    margin-top: 4%;
    margin-bottom: 2%;
}
#weekpicker input {
    width: 11%;
    margin: 0 2%;
}
#weekpicker input:disabled {
    color: gray;
    background-color: rgb(220, 220, 220);
    border: rgb(190, 190, 190);
}
#weekpicker button {
    border: 2px solid white;
    border-radius: 50%;
}

/* default panel */
#default-panel {
    display: none;
    padding: 10% 0;
    text-align: center;
    background-color: rgb(151, 145, 135);
}